@media (max-width: 768px){
    .br_mo{
      display:block;
    }
    .br_pc{
      display:unset !important;
    }
    .detail_page{
        .contents_top{
            .banner{
                height:px(400);
                filter:unset;
              }
              .logo{
                  width:px(300);
                  height:px(240);
              }
              &.harumi{
                  .banner{
                    background-size:150%;
                  }
              }
              &.sangsang{
                  .banner{
                    background-size:150%;
                  }
              }
              .scroll_txt{
                display:none;
              }
        }
        .inner{
            width:100%;
        }
        .txt_type{
            &1{
                @include fontmobile(50,700,#111,center);
                line-height:px(66);
            }
            &2{
                @include fontmobile(42,700,#111,center);
                line-height:1;
                letter-spacing:-0.6px;
                &.fs50{
                    font-size:px(50);
                    line-height:1.4
                }
            }
            &3{
                @include fontmobile(32,400,#111,center);
                letter-spacing:-.6px;
            }
        }
        .show{
            transform:translateY(px(10));
            &.rolling_img{
                transform:translateX(px(150));
            }
        }
    }
    .active{
        .show{
            &.late1{
                transition-delay:.3s;
            }
            &.late2{
                transition-delay:.6s;
            }
            &.late3{
                transition-delay:.9s;
            }
            &.late4{
                transition-delay:1.6s;
            }
            &.late5{
                transition-delay:2s;
            }
            &.late6{
                transition-delay:2.4s;
            }
            &.late7{
                transition-delay:2.8s;
            }
            &.late8{
                transition-delay:3.2s;
            }
            &.rolling_img{
                transform:translateX(0px);
            }
        }
    }
    #section1 {
        padding-bottom: px(150);
      
        .txt {
          .scroll_txt {
            display:none;
          }
          span{
            &.br_pc{
              display:inline-block;
              margin-right:px(10);
            }
          }
          flex-wrap: wrap;
          justify-content:center;
          column-gap:unset;
          margin-bottom: px(80);
      
          &.n3 {
            margin-bottom: 0;
          }
      
          &.n2 {
            justify-content:center;
            flex-direction: column-reverse;
            .txt_wrap{
              padding-left:unset;
            }
          }
      
          .photo {
            width: px(672);
            height: px(446);
            img{
                width:100%;
            }
          }
      
          .txt_wrap {
            max-width:px(672);
            margin-top:px(50);
            word-break: keep-all;
            .txt_type2 {
              text-align:center;
            }
            .txt_type3 {
              text-align:center;
              width:95%;
              margin:px(40) auto 0;
            }
          }
        }
        .contents_top.active + .inner .txt{
          &.n1{
              padding-top:px(100);
          }
        }
      }
      
      #section2 {
        background-size:200%;
        padding: px(140) 0;
      
        .txt_type1 {
            font-size:px(60);
            margin-bottom: px(24);
            img{
              width:px(300);
              height:px(240);
            }
        }
      
        .txt_type3 {
          font-size: px(34);
        }
      
        .slot-number {
          gap: px(1);
          
          span {
            min-width: px(36);
          }
    
        }
      
        .history_flow {
          width: px(768);
          margin: px(80) auto 0;
      
          .long_line {
            width: px(2);
            height: 96%;
            ~.box>.mobile{
              width:18vw;
            }
            &.harumi{
              height:px(565);
            }
            &.sangsang{
              height:px(1115)
            }
            &.just{
              height:px(595); 
            }
            &.cuisine{
              height:px(1590);
            }
            &.dimsum{
              height:px(1010); 
            }
            &.baleun{
              height:px(1465); 
            }
            &.theking{
              height:px(997); 
            }
            &.gaesung{
              height:px(1165); 
            }
            &.coolpics{
              height:px(1375); 
            }
            &.grilly{
              height:px(1153); 
            }
            &.richam{
              height:px(1867); 
            }
            &.yangban{
              height:px(1608); 
            }
            &.bosunggreentea{
              height:px(1143); 
            }
            &.bosungblacktea{
              height:px(982); 
            }
            &.gnc{
              height:px(830); 
            }
            &.alive{
              height:px(1117); 
            }
          }
      
          .box {
            @include fontmobile(30, 300, #111);
            margin-bottom: px(40);
            letter-spacing: -0.6px;
      
            strong {
              display:block;
              @include fontmobile(30, 600, #111);
              margin-bottom: px(4);
              width:px(300);
              &::after {
                width: px(12);
                height: px(12);
                top: px(10);
              }
            }
            span{
              min-width:px(300);
              word-break: keep-all;
              line-height:1.4;
              small{
                font-size:px(23);
                margin-top:px(8);
              }
            }
            .space{
              width:unset !important;
            }
            img{
              display:block;
              width:px(300);
              margin-top:px(20);
              &.height{
                width:unset;
                height:px(168);
                &.sizeup{
                  height:px(250);
                }
              }
            }
            &.left {
              padding-right: px(410);
      
              strong {
                margin-bottom:px(10);
                &::after {
                  right: px(-32);
                }
              }
            }
      
            &.right {
              padding-left: px(410);
      
              strong {
                &::after {
                  left: px(-32);
                }
              }
            }
          }
        }
    }
    #section3 {
        padding: px(130) 0;
        overflow: hidden;
      
        .marquee {
          margin-top: px(80);
          &.coolpics{
            .box{
                strong{
                    margin-top:px(50);
                    font-size:px(32);
                    span{
                        font-size:px(24);
                        margin-bottom:px(10);
                    }
                }
            }
        }
          .marquee-track {
            gap:px(30)
          }
          .box {
            width: px(240);
      
            .photo {
              width: px(240);
              height: px(202);
      
              img {
                width: 100%;
                object-fit: contain;
              }
            }
      
            strong {
              @include fontmobile(32,600,#111,center);
              letter-spacing:-.6px;
              margin-top: px(12);
              word-break: keep-all;
            }
      
            .txt {
              margin-top: px(6);
              @include fontmobile(28, 400, #7E7E7E);
            }
          }
        }
        &.swiper_type{
          padding-bottom:65%;
          box-sizing: content-box;
          &::after{
              display:none;
          }
          .flex_box{
            flex-wrap:wrap;
          }
          .txt_group{
              width:100%;
              padding-left:unset;
              .txt_box{
                width:100%;
                top:px(550);
                  left:0;
                  text-align:center;
                  p{
                      margin-top:px(30);
                      text-align:center;
                      .gray{
                          margin-top:px(12);
                      }
                  }
              }
              .custom_pagination{
                  column-gap:px(16);
                  bottom:unset;
                  top:px(940);
                  left:50%;
                  transform:translateX(-50%);
                  .dot{
                      width:px(16);
                      height:px(16);
                  }
              }
          }
          .bigSwiper{
              margin-top:px(80);
              height:px(500);
              width:100%;
              float:unset;
              padding-left:px(110);
              .swiper-slide{
                  width:px(440);
                  height:px(440);
                  >img{
                    transform: scale(0.6) translateX(14%);
                  }
                  .pr_img{
                      height:px(320);
                      >img{
                        height:100%;
                      }
                  }
              }
              .swiper-slide-active{
                  >img{
                    transform: scale(1.16) translateX(12%);
                  }
                  .pr_img{
                      top:px(150);
                      left:px(-20);
                  }
                  + .swiper-slide{
                    >img{
                    transform:scale(0.6) translateX(20%);
                    }
                    +.swiper-slide{
                        >img{
                            transform:scale(0.6);
                        }
                    }
                }
              }
              &.sizedown{
                .swiper-slide-active{
                  >img{
                    transform: scale(1.05) translateX(12%);
                  }
                }
              }
          }
          &.full_circle{
            padding-bottom:80%;
            .txt_group{
              .txt_box{
                  top:px(620);
              }
              .custom_pagination{
                bottom:unset;
                top:px(1050);
              }
            }
            .bigSwiper{
                .swiper-slide-active{
                    >img{
                        transform: scale(1) translateX(12%);
                    }
                }
            }
          }
      }
    }
    #section4 {
        padding: px(130) 0;
        width: 100%;
      
        .up_boxs {
          flex-wrap:wrap;
          width: px(672);
          margin:px(80) auto 0;
          row-gap:px(48);
          .box {
            width:100%;
            height: px(392);
            border-radius: px(10);
            strong {
              @include fontmobile(40, 700, #fff, center);
              transition: all .2s ease;
            }
      
            p {
              @include fontmobile(36, 400);
              position: absolute;
              transition: all .2s ease;
              box-sizing:border-box;
              em{
                display:inline-block;
                margin-right:px(10);
                margin-top:px(10);
              }
            }
            &.dot{
              p{
                  padding-left:0;
                  span{
                      padding-left:px(20);
                      max-width:unset;
                  }
              }
            }
          }
        }
        &.sangsang,&.dimsumm{
          .box p{
            text-align:left !important;
            font-size:px(32);
          }
        }
        &.richam,&.alive,&.gnc{
          .box p{
            font-size:px(32);
          }
        }
        &.gnc,&.alive{
          .box p{
            padding:0 px(20);
          }
        }
    }
    #section5 {
        padding: px(130) 0;
      
        .pr_list {
          gap: px(30);
          width: px(694);
          margin: px(60) auto;
          
      
          .box {
            width: px(210);
            height: px(210);
            position: relative;
            overflow: hidden;
      
            .photo {
              &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background: #0000000A;
              }
      
              img {
                width: 100%;
              }
            }
      
            .name {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 100%;
              @include fontmobile(24, 200, #ffffff);
            }
      
            &:hover {
              .name {
                display:none;
              }
      
              .photo::before {
                background:#0000000A; 
              }
            }
          }
        }
      
        .more_btn {
            @include fontmobile(28,400,#222,center);
            width:px(480);
            height:px(80);
            line-height:px(80);
      
          &:hover {
            background: #fff;
            border-color: #333;
            color: #222;
          }
        }
    }      
}