.brand_box_wrap{
  .brand_box{
    width:276px;
    height: 276px;
    position:relative;
    overflow:hidden;
    background-repeat:no-repeat;
    background-position:center;
    background-size:100%;
    transition:all .2s ease-in-out;
    &.col_1{
      width:100%;
    }
    &.col_2{
      width:584px;
    }
    a{
      display:block;
      width:100%;
      height:100%;
      z-index: 5;
      &::before{
        content:'';
        display:block;
        position:absolute;
        top:0;
        left:0;
        bottom:0;
        right:0;
        background:#00000099;
        transition:all .2s ease-in-out;
      }
    }
    .logo{
      font-size:0;
      text-indent:-9999px;
      width:150px;
      height:120px;
      background-repeat:no-repeat;
      background-position:center;
      background-size:100%;
      display:block;
      position:absolute;
      top:57px;
      left:50%;
      transform:translateX(-50%);
      //filter: brightness(0) invert(1);
    }
    .txt{
      @include font(22,200,#ffffff,center);
      font-weight:300;
      display:inline-block;
      position:absolute;
      top:192px;
      width:100%;
      left:50%;
      transform:translateX(-50%);
      em{
        font-weight:100;
        display:inline-block;
        margin:0 10px;
      }
    }
    &:hover{
      background-size: 110%;
      transition:all .2s ease-in-out;
      a{
        &::before{
          background:#00000029;
          transition:all .2s ease-in-out;
        }
      }
    }
  }
  .brand_box.dongwon{
    .logo{
      background-image:url(../images/logo/dongwon.png);
    }
    background-image:url(../images/brand_bg/dongwon_bg.jpg);
    &.col_1{
      background-image:url(../images/brand_bg/dongwon_bg_pc.jpg);
    }
  }
  .brand_box.dwtuna{
    .logo{
      background-image:url(../images/logo/dwtuna.png);
    }
    background-image:url(../images/brand_bg/dwtuna_bg.jpg);
  }
  .brand_box.theking{
    .logo{
      background-image:url(../images/logo/theking.png);
    }
    background-image:url(../images/brand_bg/theking_bg.jpg);
  }
  .brand_box.baleun-eomug{
    .logo{
      background-image:url(../images/logo/baleun-eomug.png);
    }
    background-image:url(../images/brand_bg/baleun-eomug_bg.jpg);
  }
  .brand_box.yangban{
    .logo{
      background-image:url(../images/logo/yangban.png);
    }
    background-image:url(../images/brand_bg/yangban_bg.jpg);
  }
  .brand_box.denmark{
    .logo{
      background-image:url(../images/logo/denmark.png);
    }
    background-image:url(../images/brand_bg/denmark_bg.jpg);
  }
  .brand_box.sowanamu{
    .logo{
      background-image:url(../images/logo/sowanamu.png);
    }
    background-image:url(../images/brand_bg/sowanamu_bg.jpg);
  }
  .brand_box.cuisine{
    .logo{
      background-image:url(../images/logo/cuisine.png);
    }
    background-image:url(../images/brand_bg/cuisine_bg.jpg);
  }
  .brand_box.richam{
    .logo{
      background-image:url(../images/logo/richam.png);
    }
    background-image:url(../images/brand_bg/richam_bg.jpg);
  }
  .brand_box.dimsum{
    .logo{
      background-image:url(../images/logo/dimsum.png);
    }
    background-image:url(../images/brand_bg/dimsum_bg.jpg);
  }
  .brand_box.gaesung{
    .logo{
      background-image:url(../images/logo/gaesung.png);
    }
    background-image:url(../images/brand_bg/gaesung_bg.jpg);
  }
  .brand_box.grilly{
    .logo{
      background-image:url(../images/logo/grilly.png);
    }
    background-image:url(../images/brand_bg/grilly_bg.jpg);
  }
  .brand_box.just{
    .logo{
      background-image:url(../images/logo/just.png);
    }
    background-image:url(../images/brand_bg/just_bg.jpg);
  }
  .brand_box.harumi{
    .logo{
      background-image:url(../images/logo/harumi.png);
    }
    background-image:url(../images/brand_bg/harumi_bg.jpg);
  }
  .brand_box.sangsang{
    .logo{
      background-image:url(../images/logo/sangsang.png);
    }
    background-image:url(../images/brand_bg/sangsang_bg.jpg);
  }
  .brand_box.thebanchan{
    .logo{
      background-image:url(../images/logo/thebanchan.png);
    }
    background-image:url(../images/brand_bg/thebanchan_bg.jpg);
  }
  .brand_box.gnc{
    .logo{
      background-image:url(../images/logo/gnc.png);
    }      background-image:url(../images/brand_bg/gnc_bg.jpg);
  }
  .brand_box.cheonjiin{
    .logo{
      background-image:url(../images/logo/cheonjiin.png);
    }
    background-image:url(../images/brand_bg/cheonjiin_bg.jpg);
  }
  .brand_box.beautick{
    .logo{
      background-image:url(../images/logo/beautick.png);
    }
    background-image:url(../images/brand_bg/beautick_bg.jpg);
  }
  .brand_box.nutriplan{
    .logo{
      background-image:url(../images/logo/nutriplan.png);
    }
    background-image:url(../images/brand_bg/nutriplan_bg.jpg);
  }
  .brand_box.dwdrink{
    .logo{
      background-image:url(../images/logo/dwdrink.png);
    }
    background-image:url(../images/brand_bg/dwdrink_bg.jpg);
  }
  .brand_box.bosunggreentea{
    .logo{
      background-image:url(../images/logo/bosunggreentea.png);
    }
    background-image:url(../images/brand_bg/bosunggreentea_bg.jpg);
  }
  .brand_box.bosungblacktea{
    .logo{
      background-image:url(../images/logo/bosungblacktea.png);
    }
    background-image:url(../images/brand_bg/bosungblacktea_bg.jpg);
  }
  .brand_box.takealive{
    .logo{
      background-image:url(../images/logo/takealive.png);
    }
    background-image:url(../images/brand_bg/takealive_bg.jpg);
  }
  .brand_box.coolpics{
    .logo{
      background-image:url(../images/logo/coolpics.png);
    }
    background-image:url(../images/brand_bg/coolpics_bg.jpg);
  }
}
@media (max-width: 768px){
    .brand_box_wrap{
      .brand_box{
        width:px(318);
        height: px(318);
        //margin-right:px(24) !important;
        &.col_1{
          width:px(672);
          background-size:cover;
        }
        &.col_2{
          width:px(672);
        }
        .logo{
          width:px(200);
          height:px(160);
          top:px(60);
        }
        .txt{
          @include fontmobile(28,300,#ffffff,center);
          letter-spacing:-.6px;
          top:px(230);
        }
      }
    
    }
}